<h2>Devices</h2>

<br><hr><br>

<div class="ml-5">
  <table border="1">
    <thead>
      <tr>
        <th>Nome</th>
        <th>MAC</th>
        <th>Celular</th>
        <th>Ver mais</th>
      </tr>
    </thead>
    <tbody>
      <% @devices.each do |device| %>
        <tr>
          <td><%= device.name %></td>
          <td><%= device.mac %></td>
          <td><%= device.cel %></td>
          <td><%= link_to raw('&#128065;'), device_path(device.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
