<h2>Devices</h2>

<br><hr><br>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>MAC</th>
      <th>Celular</th>
    </tr>
  </thead>
  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= link_to device.name, device_path(device.id) %></td>
        <td><%= device.mac %></td>
        <td><%= device.cel %></td>
      </tr>
    <% end %>
  </tbody>
</table>
